<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <!--booststrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body>
<div class="col-md-5 mx-auto mt-4">
    <div class="card text-center">
        <h5 class="card-header">Seleccione su rol</h5>
        <div class="card-body">
        
         
        <a href="/users/admin" class="btn btn-primary  "  style="width: 180px;">Administrador</a>
        <br>
        <a href="/users/mecanico" class="btn btn-primary  mt-2 " style="width: 180px;" >Mecánico </a>
        <br>
        <a href="/users/cliente" class="btn  btn-primary  mt-2" style="width: 180px;">Cliente  </a>
        
        
        </div>
    </div>
</div>
    
    
</body>
</html>