<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body>
    <h1>admin</h1>
    <hr>
    <div class="row">
      <div class="col-md-4 mx-auto">
        <div class="card">
          <div class="card-header">
            Ingrese sus datos
          </div>
          <div class="card-body">
           <form id="login-form">
            <div class="form-group">
              <input type="email" class="form-control" name="email" placeholder="Email" >
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="password" placeholder="Password" >
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">
                Entrar
              </button>
            </div>
           </form>  
          </div>
        </div>
      </div>
    </div>

  <script>

    const form = document.querySelector("#login-form");
    form.addEventListener('submit', async (event) => {
      event.preventDefault();
      const formData = new FormData(form);
      const email = formData.get('email')
      const password = formData.get('password');
      console.log({ email, password })

      const response = await fetch('/users/admin', {
        method: "POST",
        body: JSON.stringify({ email, password }),
        headers: {
          'Content-Type': 'application/json'
        }
      })
      const data = await response.text();
      console.log(data);
    })

  </script>
        
</body>
</html>